tmp/
html/
pdf/
presentation/
loesungen/
webimg/
dist
site_key.txt
log/access.log
log/error.log
*.swp
eval/eval*

/cabal.sandbox.config
/.cabal-sandbox/

_cache/
_site/
site
site.hi
site.o
.DS_Store
.shake
.stack-work/
