<!DOCTYPE html>
<html lang="de">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Oliver Braun - $title$</title>
  <!--plugins-->
  <link href="assets/css/plugins/plugins.css" rel="stylesheet">
  $if(portfolio)$
  <!--cube portfolio-->
  <link href="assets/cubeportfolio/css/cubeportfolio.min.css" rel='stylesheet'>
  $endif$
  <!--Custom css-->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
  <div id="preloader">
    <div id="preloader-inner"></div>
  </div>
  <!--/preloader-->

  <nav class="navbar navbar-toggleable-sm navbar-light bg-faded yamm">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
      <a class="navbar-brand" href="index.html">Prof. Dr. Oliver Braun</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Wintersemester 2017/18</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="lectures/algdati.html" class="dropdown-item">Algorithmen und Datenstrukturen I</a></li>
              <li><a href="lectures/fun.html" class="dropdown-item">Funktionale Programmierung</a></li>
              <li><a href="lectures/seiib.html" class="dropdown-item">Softwareentwicklung I (IB)</a></li>
          </li>
          </ul>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Lehrveranstaltungen</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="lectures/algdati.html" class="dropdown-item">Algorithmen und Datenstrukturen I</a></li>
              <li><a href="lectures/algdatii.html" class="dropdown-item">Algorithmen und Datenstrukturen II</a></li>
              <li><a href="lectures/compiler.html" class="dropdown-item">Compiler</a></li>
              <li><a href="lectures/fun.html" class="dropdown-item">Funktionale Programmierung</a></li>
              <li><a href="lectures/sa.html" class="dropdown-item">Software-Architektur</a></li>
              <li><a href="lectures/seiib.html" class="dropdown-item">Softwareentwicklung I (IB)</a></li>
              <li><a href="lectures/seiiib.html" class="dropdown-item">Softwareentwicklung II (IB)</a></li>
              <li><a href="lectures/swengiib.html" class="dropdown-item">Software Engineering I (IB)</a></li>
              <li><a href="lectures/swengiib.html" class="dropdown-item">Software Engineering II (IB)</a></li>
              <li><a href="lectures/webtech.html" class="dropdown-item">Web-Techniken</a></li>
              <li><a href="lectures/webtechFK12.html" class="dropdown-item">Web-Techniken (mit FK12)</a></li>
            </ul>
          </li>
          <li class=" dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Mehr</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="misc/theses.html">Abschlussarbeiten</a></li>
              <li><a class="dropdown-item" href="https://terraform.cs.hm.edu/jenkins/blue/">Jenkins</a></li>
              <li><a class="dropdown-item" href="about.html">Oliver Braun</a></li>
            </ul>
          </li>

          <li class="social-nav nav-item"><a href="https://github.com/obcode" class="nav-link"><i class="ion-social-github" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="obcode @ GitHub"></i></a></li>
          <li class="social-nav nav-item"><a href="https://twitter.com/obcode" class="nav-link"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@obcode"></i></a></li>
          <li class="social-nav nav-item"><a href="https://www.linkedin.com/in/obcode/" class="nav-link"><i class="ion-social-linkedin" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="LinkedIn"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--nav end-->

  <!--page-tree end here-->
  <div class="space-70"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
      </div>
    </div>
  </div>

$body$

  <div class="space-70"></div>
  <div id="footer">
    <div class="row">
      <div class="col-md-12 text-center">
        <span>
          Generated with <a href="http://jaspervdj.be/hakyll">Hakyll</a> on
          <a href="https://travis-ci.org/obcode/ob.cs.hm.edu">Travic CI</a>
          <img href="https://travis-ci.org/obcode/ob.cs.hm.edu.svg?branch=master" />
          Fork me on <a href="https://github.com/obcode/ob.cs.hm.edu">GitHub</a>
          <div class="space-20"></div>
          <span>&copy; 2017 Oliver Braun | <a href="/impressum.html">Impressum</a></span>
      </div>
    </div>
  </div>

  <!-- jQuery plugins. -->
  <script src="assets/js/plugins/plugins.js"></script>
  <script src="assets/js/app.js"></script>
  $if(portfolio)$
  <script src="assets/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
  <script>
    (function ($$, window, document, undefined) {
        'use strict';

        // init cubeportfolio
        $$('#js-grid-awesome-work').cubeportfolio({
            filters: '#js-filters-awesome-work',
            layoutMode: 'grid',
            defaultFilter: '*',
            animationType: 'scaleSides',
            gapHorizontal: 30,
            gapVertical: 30,
            gridAdjustment: 'responsive',
            mediaQueries: [{
                    width: 1500,
                    cols: 4
                }, {
                    width: 1100,
                    cols: 3
                }, {
                    width: 480,
                    cols: 2,
                    options: {
                        gapHorizontal: 15,
                        gapVertical: 15
                    }
                }],
            caption: 'zoom',
            displayType: 'fadeIn',
            displayTypeSpeed: 400,
            // singlePage popup
            singlePageDelegate: '.cbp-singlePage',
            singlePageDeeplinking: true,
            singlePageStickyNavigation: true,
            singlePageCounter: '<div class="cbp-popup-singlePage-counter">{{current}} of {{total}}</div>'
        });
    })(jQuery, window, document);
  </script>
  $endif$
  
</body>

</html>
