        <div id="landing">
          <div class="container">
            <div class="row">
                  <div class="span7">
                      <h1>$title$</h1>
                  </div>
                  <div class="span1">&nbsp;
                  </div>
                  <div class="span4">
                    <img alt="" src="$image$" width="300" height="150" />
                  </div>
                </div>
          </div>
        </div>

        <div id="content">
          <div class="container">
            $body$
          </div>
        </div>
